:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(24, 24, 30);
}

#body {
  width: 100vw;
}

.title {
  color: rgb(255, 255, 255);
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-weight: bold;
}

.subtitle {
  color: rgb(200, 200, 200);
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-weight: 100;
  margin-top: -0.5rem;
}

.titleElement {
  margin-top: 4rem;
}

.plot-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the button that opens the dropdown */
.dropdown-button {
  background-color: #5300eb;
  color: white;
  font-size: medium;
  height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  padding-top: 1rem;
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

/* Style for the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

/* Change the color of the dropdown items on hover */
.dropdown-item:hover {
  background-color: #ddd;
}

/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content button {
  border-radius: 0;
  text-align: start;
}

.selector {
  font-size: 0;
  /* Vertically align items */
}

.selector button {
  margin: 0;
  border: none;
}

.courseButton {
  padding: 0 0.75rem 0 1rem;
  border-radius: 1rem 0 0 1rem;
}

.documentsButton {
  padding: 0 0.75rem 0 0.75rem;
  border-radius: 0;
  background-color: rgb(44, 44, 50);
}

.pagesButton {
  padding: 0 1rem 0 0.75rem;
  border-radius: 0 1rem 1rem 0;
  background-color: rgb(44, 44, 50);
}

.resetButton {
  margin-left: auto;
}

.scatter-plot {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(44, 44, 50);
  border-radius: 2rem;
  width: calc(100vw - 10%);
  height: calc((100vw) / 1.5);
  max-width: 60rem;
  max-height: calc(70rem / 1.5);
  box-shadow: 0 0 10px #5300eb;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
  display: none;
}

.drop-shadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

button {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  background-color: #5300eb;
  color: white;
  padding: 2;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3b00a9;
}

button:active {
  background-color: #2c007d;
}

.toolbar {
  width: calc(100vw - 10%);
  max-width: 60rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between; /* Space between button group and reset button */
  align-items: center;
}
